.DS_Store
node_modules/
.astro/
_site/
_site-astro/
dist/
.wrangler/
.dev.vars
src/assets/fonts/*.woff2
src/assets/fonts/cjk/*.woff2
src/assets/fonts/katex/*
src/assets/css/cjk.css
src/assets/css/katex.css
npm-debug.log*
