---
layout: layouts/base.njk
---
<article class="lesson" data-day="{{ day }}">
  <div class="download-strip">
    <div class="wrap wide">
      <span>Download the book:</span>
      <a href="{{ book.downloads.epub }}">EPUB</a>
      <a href="{{ book.downloads.pdf }}">PDF</a>
    </div>
  </div>
  {{ content | safe }}
</article>

